node_modules
content/secrets.js
content/about.js

# Emacs save files
*~

# Compilation artifacts
public/bundle.js
public/bundle.js.map
public/prod.js
public/prod.js.gz
public/sw.js
.idea

# Resume
public/assets/Eleni-Arvanitis-Resume.pdf
