.about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2%; margin-right: 55%;
}

.about-header {
    font-size: 35pt;
    font-weight: 800;
    color: ghostwhite;
}

.about-text {
    font-weight: 300;
    color: ghostwhite;
}