.about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 7% 3%; margin-right: 60%;
}

.about-header {
    font-size: 35pt;
    font-weight: 800;
    color: ghostwhite;
    margin-bottom: 4%;
}

.about-text {
    font-weight: 300;
    font-size: 17px;
    color: ghostwhite;
}