.about-header {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 35pt;
    font-weight: bolder;
    color: ghostwhite;
}

.about-text {
    font-family: 'Poppins', sans-serif;
    color: ghostwhite;
}