hr {
    border-color: #e0bf9f;
}

.all-articles {
    padding-top: 2%;
}

.article {
    padding: 10px 20%;
}

.article-title {
    color: #e0bf9f;
    font-size: 18pt;
}

.date-posted {
    font-style: italic;
}

.description {
    font-size: large;
}

button {
    margin: 3% auto 5% auto;
}