button {
    flex: 1 1 auto;
    margin: 7% auto;
    padding: 10px 25px;
    border: 2px solid #e0bf9f;
    text-align: center;
    text-transform: uppercase;
    font-size: large;
    position: relative;
    overflow: hidden;
    transition: .4s;
    background-color: transparent;
    color: ghostwhite;
}

button:after {
    position: absolute;
    transition: .4s;
    content: '';
    width: 100%;
    bottom: 0;
    background: #e0bf9f;
    height: 120%;
    left: -110%;
    transform: skewX(20deg);
    z-index: -1;
}

button:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.9);
}

button:hover:after {
    left: -10%;
    width: 150%;
}

button:focus {
    outline: none;
}