.contact {
    overflow: hidden;
    display: flex;
    padding-left: 5%;
}

h2 {
    font-size: 60pt;
}

input {
    -webkit-backface-visibility: hidden;
    font-size: 22pt;
}

textarea {
    resize: vertical;
    min-height: 65px;
    max-height: 300px;
}

input, textarea {
    font-size: 22px;
    width: 100%;
    padding: 5px 0;
    background: transparent;
    border: transparent;
    border-bottom: 1.5px solid gray;
}

.form-input {
    position: relative;
    margin-bottom: 60px;
}

.form-input:focus {
    border-bottom: 1.5px solid #e0bf9f;
    transition: all 0.25s ease-in-out;
}

.other-methods {
    padding: 15% 0 0 25%;
    font-size: 28px;
}