.contact {
    padding: 0 5%;
}

h2 {
    font-size: 60pt;
}

.form-input:focus {
    border-bottom: 1.5px solid #e0bf9f;
    transition: all 0.25s ease-in-out;
}

input {
    -webkit-backface-visibility: hidden;
    font-size: 22pt;
}

textarea {
    resize: vertical;
}

input, textarea {
    font-size: 22px;
    width: 40%;
    padding: 5px 10px;
    background: transparent;
    border: transparent;
    border-bottom: 1.5px solid gray;
}

.form-input {
    position: relative;
    margin-bottom: 60px;
}

input:invalid {
    border-bottom: 1.5px solid #ff3e4e;
}

button.resume-button {
    position: relative;
    display: flex;
    align-items: center;
}