.contact {
    overflow: hidden;
    padding: 0 5%;
}

h2 {
    font-size: 60pt;
}

.contact-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#gform {
    flex-flow: column nowrap;
}

input {
    -webkit-backface-visibility: hidden;
    font-size: 22pt;
}

textarea {
    resize: vertical;
    min-height: 65px;
    max-height: 300px;
}

input, textarea {
    font-size: 22px;
    width: calc(100%/0.7);
    padding: 5px 0;
    background: transparent;
    border: transparent;
    border-bottom: 1.5px solid gray;
}

.form-input {
    margin-bottom: 60px;
}

.form-input:focus {
    border-bottom: 1.5px solid #e0bf9f;
    transition: all 0.25s ease-in-out;
}

.contact-footer {
    font-size: 28px;
}