.me {
    display: flex;
    padding: 3%;
}

.text-carousel {
    font-size: 25px;
    flex-direction: row;
    width: 50%;
}

.carousel-items {
    font-weight: 800;
    color: #e0bf9f;
    padding: 0 0 0 0.8%;
}

.rec {
    align-content: flex-end;
    flex-direction: row;
    width: 50%;
    font-size: 28px;
}