.main-project-div {
    padding-top: 5%;
}

.projects {
    align-items: center;
    justify-content: center;
    padding: 18px 0;
    font-size: 28pt;
    font-weight: 800;
    text-align: center;
}

.projects:hover {
    /*add photo for background to pop up!*/
}

.line {
    line-height: 0.5;
    display: inline-block;
    position: relative;
}

.line:hover {
    color: #e0bf9f;
}

.line:before,
.line:after {
    content: "";
    position: absolute;
    height: 9px;
    border-bottom: 1px solid ghostwhite;
    border-top: 1px solid ghostwhite;
    top: 1px;
    width: 50%;
}

.line:before {
    right: 100%;
    margin-right: 15px;
    padding-top: 5px;
}

.line:after {
    left: 100%;
    margin-left: 15px;
    padding-top: 5px;
}